@model DGSappSem2.Models.Timeslot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Timeslot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time_Slot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Slot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTpe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTpe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeslotId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
